/* Custom CSS
 * --------------------------------------- */
html { font-size: 60%; -webkit-text-size-adjust: none; text-size-adjust: none; font-size-adjust: auto; }
body { font-family: 'Montserrat', sans-serif; font-size: 14px; font-weight: 400; line-height: 1.3; color: #444a59; }

.pull-right { float: right; }
.pull-left { float: left; }

.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }

a { text-decoration: none; }
a:hover { text-decoration: underline; }

/* Style for our header texts
* --------------------------------------- */
h1,h2,h3,h4,h5,h6 { font-weight: 400; font-size: 100%; line-height: 1.3; margin: 0; padding: 0; color: #f74e4e; }
h2 { font-size: 28px; font-size: 1.8vw; text-align: center; text-transform: uppercase; }
h4 { font-size: 24px; font-size: 1.4vw; margin-bottom: 14px; }
.title_border { position: relative; }
.title_border:after { 
	content: ''; display: block; width: 100%; height: 6px; margin: 25px auto 50px;
	background: url(../images/headline_line.png) no-repeat center top;
}

.logo {
	background: url(../images/logo@2x.png) no-repeat left top; background-size: contain; text-decoration: none !important;
	display: inline-block; width: 124px; height: 42px; width: 8vw; height: 3vw; min-width: 124px; min-height: 42px;
}
.container { width: 90%; margin: 0 auto; padding: 0 27px; }

/* header */
#header { position: relative; min-height: 580px; min-height: 60vh; background: url(../images/header_image.png) no-repeat center center; background-size: cover; margin-bottom: 50px; }
#header:after {
	content: ''; display: block; width: 100%; height: 100%;
	position: absolute; top: 0; left: 0; right: 0; bottom: 0; z-index: 1;
	_background-color: rgba(0, 0, 0, 0.5);
	background-image: linear-gradient(81deg, rgba(237, 237, 237, 0.0), rgba(0, 0, 0, 0.5));
} 
#header .header { z-index: 2; position: relative; padding: 48px 0; }
#header .container { position: relative; z-index: 2; width: 80%; }
#header .body { }
#header .body .pull-right { width: 25%; }
#header .body .pull-right img { max-width: 100%; max-height: 100%; position: relative; bottom: -7vh; margin-top: -7vh; }
#header .body .pull-left { width: 60%; padding-top: 11%; }
#header .body h1 { color: #ffffff; font-size: 26px; margin-bottom: 20px; text-transform: uppercase; }
#header .body p { color: #ffffff; font-size: 16px; margin-bottom: 20px; }
#header .body .btn { 
	color: #ffffff; font-size: 16px; text-transform: uppercase; text-decoration: none !important;
	background-color: #15cea5; display: inline-block; text-align: center;
	width: 195px; height: 48px; line-height: 48px; margin-bottom: 15px;
	-webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; cursor: pointer;
}
#header .body .btn:hover { opacity: 0.95; }
.store_btns { display: inline-block; vertical-align: top; }
.store_btns > a { display: inline-block; line-height: 24px; height: 24px; width: 116px; margin: 20px 30px 0 0; cursor: pointer;}
.store_btns .btn_appstore { 
	background: url(../images/apple-store-30@2x.png) no-repeat 0 0; background-size: contain;
}
.store_btns .btn_googleplay { 
	background: url(../images/google-play-30@2x.png) no-repeat 0 0; background-size: contain; top: 5px; position: relative;
}

/* block_how_it_works */
.block_how_it_works { padding: 5vh 0 2vh; }
.block_how_it_works .list { width: 75%; margin: 0 auto; }
.block_how_it_works .list > .item { overflow: hidden; position: relative; font-size: 24px; font-size: 1.6vw; margin-bottom: 50px; }
.block_how_it_works .list > .item .icon { float: left; width: 360px; height: 360px; width: 20vw; height: 20vw; margin-right: 128px; margin-right: 10vw; position: relative; }
.block_how_it_works .list > .item .icon img {
	position: absolute; top: 0; left: 0; bottom: 0; right: 0; margin: auto;
	max-width: 100%; max-height: 80%;
}
.block_how_it_works .list > .item .info { overflow: hidden; padding-top: 100px; padding-top: 8vw; }
.block_how_it_works .list > .item .info span { color: #f74e4e; }
.store_btns2 { display: inline-block; vertical-align: top; }
.store_btns2 > a { 
	display: inline-block; text-decoration: none !important;
	width: 172px; height: 50px; margin: 25px 25px 0 0;
	width: 10.6vw; height: 3.1vw; margin: 1.5vw 1.5vw 0 0; cursor: pointer;
}
.store_btns2 .btn_appstore { 
	background: url(../images/app_store_badge@2x.png) no-repeat 0 0; background-size: contain;
}
.store_btns2 .btn_googleplay { 
	background: url(../images/googleplay_badge@2x.png) no-repeat 0 0; background-size: contain;
}

/* block_why */
.block_why { padding: 5vh 0 7vh; }
.block_why .list {}
.block_why .list > .item { display: inline-block; width: 49%; padding: 0 7%; vertical-align: top; margin-bottom: 36px; text-align: center; }
.block_why .list > .item p { font-size: 14px; font-size: 1vw; }
.block_why .list > .item:before {
	content: ''; display: block; width: 120px; height: 120px; width: 6vw; height: 6vw; margin: 2vh auto 4vh;
	background-repeat: no-repeat; background-position: center center; background-size: contain;
}
.block_why .list > .item.icon1:before { background-image: url(../images/representative_icon@2x.png); }
.block_why .list > .item.icon2:before { background-image: url(../images/pay_as_you_go_icon@2x.png); }
.block_why .list > .item.icon3:before { background-image: url(../images/voice_message_icon@2x.png); }
.block_why .list > .item.icon4:before { background-image: url(../images/lock_icon@2x.png); }

/* */
#footer { 
	background-color: #f74e4e; color: #ffffff; line-height: 1; text-align: center;
	padding: 50px 0; padding: 7.2vh 0 7vh; font-size: 14px; font-size: 1vw;
}
#footer .f_logo { margin-bottom: 16px; margin-bottom: 2.5vh; }
#footer .f_logo .logo { width: 106px; height: 36px; margin: 0 auto; }
#footer .f_text { opacity: 0.7; }
#footer a { color: #ffffff; text-decoration: none; }
#footer a:hover { color: #ffffff; text-decoration: underline; }

/* */
#mobile { display: none; }

@media (max-width: 1400px) {
	#header .container { width: 86%; }
	#header .body .pull-right { width: 28%; }
	#header .body .pull-left { width: 55%; padding-top: 11%; }
}

@media (max-width: 1100px) {
	.container { width: 100%; }
	h2 { font-size: 3vw; margin-bottom: 5vh; }
	h4 { font-size: 2.2vw; }
	
	#header .container { width: 90%; }
	#header .body .pull-right { width: 35%; }

	.block_how_it_works .list > .item { font-size: 2.5vw; }
	
	.block_why .list > .item { padding: 0 5%; }
	.block_why .list > .item p { font-size: 1.5vw; }
	
	#footer { font-size: 1.5vw; }
}
@media (max-width: 960px) {	
	#header .container { width: 100%; }
	#header .body .pull-right { width: 40%; }
	#header .body .pull-right img { bottom: -12vh; margin-top: -15vh; }
	
	.block_why .list > .item p { font-size: 1.8vw; }
	#footer { font-size: 1.6vw; }
}
@media (max-width: 960px) and (orientation:landscape) {

}

@media (max-width: 670px) {
	html { -webkit-text-size-adjust: 100%; text-size-adjust: 100%; }
	#desktop { display: none; }
	#mobile { display: block; }
	
	.container { width: 96%; }
	
	h2 { font-size: 7vw; margin-bottom: 5vh; }
	h4 { font-size: 5vw; }
	
	#header { margin-bottom: 3vh; min-height: 95vh; background: url(../images/header_image_mobile.jpg) no-repeat center center; background-size: cover; }
	#header .header { padding: 15px 0; }
	#header .container { width: 100%; padding: 0 3%; }
	#header .body { text-align: center; padding-top: 25%; }
	#header .body h1 { font-size: 24px; }
	#header .body p { padding: 0 10%; }
	
	.block_how_it_works .list { width: 100%; }
	.block_how_it_works .list > .item { font-size: 4.7vw; }
	.block_how_it_works .list > .item .icon { float: none; width: 70vw; height: 80vw; margin: 0 auto; text-align: center; }
	.block_how_it_works .list > .item .icon img { }
	.block_how_it_works .list > .item .info { text-align: center; }
	.store_btns2 { display: block; }
	.store_btns2 > a { width: 50vw; height: 15vw; margin: 5vw 0 0; }

	.block_why .list > .item { width: 100%; padding: 0; }
	.block_why .list > .item p { font-size: 3.8vw; }
	.block_why .list > .item:before { width: 24vw; height: 24vw; margin: 4vh auto 4vh; }

	#footer { padding: 11vh 0 12vh; font-size: 3.5vw; }
	#footer .f_logo { margin-bottom: 3.5vh; }
}
@media (max-width: 670px) and (orientation:landscape) {
	h2 { font-size: 4.2vw; }
	h4 { font-size: 3.2vw; }
	
	#header .body { padding-top: 10%; padding-bottom: 10%; }
	.block_how_it_works .list > .item { font-size: 3vw; }
	.block_how_it_works .list > .item .icon { width: 40vw; height: 40vw; }
	.store_btns2 > a { width: 30vw; height: 10vw; margin: 5vw 2vw 0; }
	
	.block_why .list > .item p { font-size: 2.8vw; }
	.block_why .list > .item:before { width: 16vw; height: 16vw; }
	
	#footer { padding: 15vh 0 17vh; font-size: 3.5vh; }
	#footer .f_logo { margin-bottom: 5vh; }
}
@media (max-width: 500px) {

}
@media (max-width: 500px) and (orientation:landscape) {

}