<!DOCTYPE html>
<html ng-app="app">

<head>
    <title>Advice.Live</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="height=device-height,width=device-width,user-scalable=yes, minimal-ui">
    <meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE" />
	<meta name="keywords" content="" />
	<meta name="description" content="" />

	<link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png?v=oLLr4O90NO">
	<link rel="apple-touch-icon" sizes="60x60" href="/apple-touch-icon-60x60.png?v=oLLr4O90NO">
	<link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png?v=oLLr4O90NO">
	<link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png?v=oLLr4O90NO">
	<link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png?v=oLLr4O90NO">
	<link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png?v=oLLr4O90NO">
	<link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144.png?v=oLLr4O90NO">
	<link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png?v=oLLr4O90NO">
	<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon-180x180.png?v=oLLr4O90NO">
	<link rel="icon" type="image/png" href="/favicon-32x32.png?v=oLLr4O90NO" sizes="32x32">
	<link rel="icon" type="image/png" href="/android-chrome-192x192.png?v=oLLr4O90NO" sizes="192x192">
	<link rel="icon" type="image/png" href="/favicon-96x96.png?v=oLLr4O90NO" sizes="96x96">
	<link rel="icon" type="image/png" href="/favicon-16x16.png?v=oLLr4O90NO" sizes="16x16">
	<link rel="manifest" href="/manifest.json?v=oLLr4O90NO">
	<link rel="mask-icon" href="/safari-pinned-tab.svg?v=oLLr4O90NO" color="#5bbad5">
	<link rel="shortcut icon" href="/favicon.ico?v=oLLr4O90NO">
	<meta name="msapplication-TileColor" content="#da532c">
	<meta name="msapplication-TileImage" content="/mstile-144x144.png?v=oLLr4O90NO">
	<meta name="theme-color" content="#ffffff">

	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" type="text/css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="css/reset.css" />
	<link rel="stylesheet" type="text/css" href="css/style.css" />
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
	<script src="node_modules/angular/angular.min.js"></script>
	<script src="js/app/app.js"></script>
</head>
<body ng-controller="MainController as main">

<div id="desktop" ng-if="!main.mobile">

	<div id="header" class="clearfix">
		<div class="container clearfix">
			<div class="header clearfix">
				<a class="logo">&nbsp;</a>
			</div>
			<div class="body">
				<div class="pull-right"><img src="images/app_mockup@2x.png" alt=""></div>
				<div class="pull-left">
					<h1>Timely, affordable relationship Advice</h1>
					<p>Pay as you go. <b>$10</b> for each <b>15-minute</b> audio session.</p>
					<div><a ng-click="main.clickCTA()" class="btn">Sign Up Now</a></div>
					<div class="store_btns clearfix">
						<a ng-click="main.clickCTA()" class="btn_appstore" title="App Store">&nbsp;</a>
						<a ng-click="main.clickCTA()" class="btn_googleplay" title="Google Play">&nbsp;</a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="how_it_works" class="block_how_it_works clearfix">
		<div class="container clearfix">
			<h2 class="title_border">How It Works</h2>
			
			<div class="list clearfix">
				<div class="item">
					<div class="icon"><img src="images/download_app@2x.png" alt=""></div>
					<div class="info">
						1. Download the App
						<div class="store_btns2 clearfix">
							<a ng-click="main.clickCTA()" class="btn_appstore" class="App Store">&nbsp;</a>
							<a ng-click="main.clickCTA()" class="btn_googleplay" title="Google Play">&nbsp;</a>
						</div>
					</div>
				</div>
				<div class="item">
					<div class="icon"><img src="images/record_voice@2x.png" alt=""></div>
					<div class="info">
						2. Anonymously record an audio message describing  your situation
					</div>
				</div>
				<div class="item">
					<div class="icon"><img src="images/representative@2x.png" alt=""></div>
					<div class="info">
						3. A clinically trained relationship expert listens to your message and records an audio response for you.
					</div>
				</div>
				<div class="item">
					<div class="icon"><img src="images/exchange_vm@2x.png" alt=""></div>
					<div class="info">
						4. You continue to exchange audio messages with your Advisor until you expend your <span>15-minute audio limit.</span>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="why" class="block_why clearfix">
		<div class="container clearfix">
			<h2 class="title_border">Why is Advice.live is right for me?</h2>
			
			<div class="list clearfix">
				<div class="item icon1">
					<h4>Professional Advisors</h4>
					<p>Our advisors are experienced, clinically trained counselors who hold Masters Degrees in Marriage and Family Therapy, Sociology, Psychology, or Counseling.</p>
				</div>
				<div class="item icon2">
					<h4>Pay As You Go</h4>
					<p>Unlike our competitors, we don't believe in tying you to a subscription plan. You simply pay a flat fee of $10 for each 15-minute audio exchange with your advisor.</p>
				</div>
				<div class="item icon3">
					<h4>Interactive Audio Messaging</h4>
					<p>We've created a communication platform that allows you to exchange audio messages with your Advisor.<br>It's a lot more engaging than the text based messaging our competitors provide.</p>
				</div>
				<div class="item icon4">
					<h4>Anonymous and Secure</h4>
					<p>We provide a secure environment where you anonymously record audio messages for your advisor and listen to her audio responses.</p>
				</div>
			</div>
		</div>
	</div>

</div><!-- end desktop -->

<div id="mobile" ng-if="main.mobile">

	<div id="header" class="clearfix">
		<div class="container clearfix">
			<div class="header clearfix">
				<a class="logo">&nbsp;</a>
			</div>
			<div class="body">
				<h1>Timely,<br>affordable<br>relationship Advice</h1>
				<p>Pay as you go. <b>$10</b> for each <b>15-minute</b> audio session.</p>
				<div><a ng-click="main.clickCTA()" class="btn">Sign Up Now</a></div>
			</div>
		</div>
	</div>

	<div id="how_it_works" class="block_how_it_works clearfix">
		<div class="container clearfix">
			<h2>How It Works</h2>
			
			<div class="list clearfix">
				<div class="item">
					<div class="icon"><img src="images/download_app@2x.png" alt=""></div>
					<div class="info">
						1. Download the App
						<div class="store_btns2 clearfix">
							<a ng-click="main.clickCTA()" class="btn_appstore" title="App Store">&nbsp;</a>
							<a ng-click="main.clickCTA()" class="btn_googleplay" title="Google Play">&nbsp;</a>
						</div>
					</div>
				</div>
				<div class="item">
					<div class="icon"><img src="images/record_voice@2x.png" alt=""></div>
					<div class="info">
						2. Anonymously record an audio message describing  your situation
					</div>
				</div>
				<div class="item">
					<div class="icon"><img src="images/representative@2x.png" alt=""></div>
					<div class="info">
						3. A clinically trained relationship expert listens to your message and records an audio response for you.
					</div>
				</div>
				<div class="item">
					<div class="icon"><img src="images/exchange_vm@2x.png" alt=""></div>
					<div class="info">
						4. You continue to exchange audio messages with your Advisor until you expend your <span>15-minute audio limit.</span>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="why" class="block_why clearfix">
		<div class="container clearfix">
			<h2>Why is Advice.live is right for me?</h2>
			
			<div class="list clearfix">
				<div class="item icon1">
					<h4>Professional Advisors</h4>
					<p>Our advisors are experienced, clinically trained counselors who hold Masters Degrees in Marriage and Family Therapy, Sociology, Psychology, or Counseling.</p>
				</div>
				<div class="item icon2">
					<h4>Pay As You Go</h4>
					<p>Unlike our competitors, we don't believe in tying you to a subscription plan. You simply pay a flat fee of $10 for each 15-minute audio exchange with your advisor.</p>
				</div>
				<div class="item icon3">
					<h4>Interactive Audio Messaging</h4>
					<p>We've created a communication platform that allows you to exchange audio messages with your Advisor.<br>It's a lot more engaging than the text based messaging our competitors provide.</p>
				</div>
				<div class="item icon4">
					<h4>Anonymous and Secure</h4>
					<p>We provide a secure environment where you anonymously record audio messages for your advisor and listen to her audio responses.</p>
				</div>
			</div>
		</div>
	</div>
	
</div><!-- end mobile -->

	<div id="footer" class="clearfix">
		<div class="container clearfix">
			<div class="f_logo"><a class="logo">&nbsp;</a></div>
			<div class="f_text">&copy; 2016 Advice.live. All Rights Reserved.</div>
		</div>
	</div>

<script>
	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
				(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

	ga('create', 'UA-2717775-4', 'auto');
	ga('send', 'pageview');

</script>

<script type='text/javascript'>
	window.__lo_site_id = 51544;

	(function() {
		var wa = document.createElement('script'); wa.type = 'text/javascript'; wa.async = true;
		wa.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://cdn') + '.luckyorange.com/w.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(wa, s);
	})();
</script>
</body>
</html>