/* Custom CSS
 * --------------------------------------- */
html { font-size: 60%; -webkit-text-size-adjust: none; text-size-adjust: none; font-size-adjust: auto; }
body { font-family: 'Montserrat', sans-serif; font-weight: 400; line-height: 1.3; color: #ffffff; min-width: 670px; }

.pull-right { float: right; }
.pull-left { float: left; }

.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }

a { text-decoration: none; }
a:hover { text-decoration: underline; }

/* Style for our header texts
* --------------------------------------- */
h1,h2,h3,h4,h5,h6 { font-weight: 400; font-size: 100%; line-height: 1.3; margin: 0; padding: 0; color: #ffffff; }

.logo {
	background: url(../images/logo@2x.png) no-repeat left top; background-size: contain; text-decoration: none !important;
	display: inline-block; width: 124px; height: 42px; width: 8vw; height: 3vw; min-width: 124px; min-height: 42px;
}
.container { width: 90%; margin: 0 auto; padding: 0 27px; }

#coming_soon { position: relative; height: 100%; min-height: 100%; height: 100vh; background: url(../images/bg-image.png) no-repeat center center; background-size: cover; }
#coming_soon:after {
	content: ''; display: block; width: 100%; height: 100%;
	_background-image: linear-gradient(64deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3) 32%, rgba(0, 0, 0, 0.5));
	position: absolute; top: 0; left: 0; right: 0; bottom: 0; z-index: 1; 
} 
#coming_soon .header { z-index: 2; position: relative; padding: 48px 0; }

#coming_soon .body { width: 50%; margin-left: 48%; display: inline-block; vertical-align: middle; padding-top: 10%; position: relative; z-index: 10; }
#coming_soon .body h1 {
	font-size: 32px; text-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); text-transform: uppercase; margin-bottom: 5px; white-space: nowrap;
}
#coming_soon .body p { font-size: 14px; text-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); padding: 0; margin: 0; margin-bottom: 30px; }

#coming_soon .body .form { margin-bottom: 30px; vertical-align: top; overflow: hidden; }
#coming_soon .body .input_text {
	color: #444a59; font-size: 14px; font-family: 'Montserrat', sans-serif; font-weight: 400;
	background-color: #ffffff; border: 0; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px;
	height: 48px; line-height: 20px; padding: 13px 16px; width: 262px; margin: 0; float: left; margin-right: 15px;
}
.input_text::-webkit-input-placeholder { font-size: 14px; font-family: 'Montserrat', sans-serif; font-weight: 400; color: #dadbde; line-height: 20px;  transition: line-height 0.5s ease;}
.input_text::-moz-placeholder { font-size: 14px; font-family: 'Montserrat', sans-serif; font-weight: 400; color: #dadbde; line-height: 20px;  transition: line-height 0.5s ease;}
.input_text:-moz-placeholder { font-size: 14px; font-family: 'Montserrat', sans-serif; font-weight: 400; color: #dadbde; line-height: 20px;  transition: line-height 0.5s ease;}
.input_text:-ms-input-placeholder { font-size: 14px; font-family: 'Montserrat', sans-serif; font-weight: 400; color: #dadbde; line-height: 20px;  transition: line-height 0.5s ease;}
.input_text:focus::-webkit-input-placeholder { line-height: 100px; transition: line-height 0.5s ease;}
.input_text:focus::-moz-placeholder { line-height: 100px; transition: line-height 0.5s ease;}
.input_text:focus:-moz-placeholder { line-height: 100px; transition: line-height 0.5s ease;}
.input_text:focus:-ms-input-placeholder { line-height: 100px; transition: line-height 0.5s ease;}

#coming_soon .body .btn { 
	color: #ffffff; font-size: 14px; font-family: 'Montserrat', sans-serif; font-weight: 400;
	text-transform: uppercase; cursor: pointer; display: inline-block; text-align: center;
	background-color: #15cea5; border: 0; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px;
	height: 48px; line-height: 48px; padding: 0 20px; min-width: 112px; margin: 0;
}
#coming_soon .body .btn:hover { opacity: 0.95; }

#coming_soon .body .store_btns { display: inline-block; vertical-align: top; }
#coming_soon .body .store_btns > * { display: inline-block; line-height: 30px; height: 30px; width: 144px; margin: 0 30px 20px 0; }
#coming_soon .body .store_btns .btn_appstore { 
	background: url(../images/apple-store-30@2x.png) no-repeat 0 0; background-size: contain;
}
#coming_soon .body .store_btns .btn_googleplay { 
	background: url(../images/google-play-30@2x.png) no-repeat 0 0; background-size: contain; top: 5px; position: relative;
}